
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 13px;
}

$color: rgba(76, 0, 130, 0.5);
$color-hover: rgba(76, 0, 130, 0.829);

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#app {
    width: 80%;

    div#img {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        height: 400px;
    }
}

div#info {
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    &>div{
        padding: 15px;
    }

    /* 1ª coluna */
    &>div:nth-child(1) {
        width: 30%;

        &>div:nth-child(1){
            text-align: center;
            margin-bottom: 15px;

        
        }


            p {
                margin-bottom: 5px;
            }
    }
}

p#loading {
    height: 15px;
    margin-top: 5px;
}

button {
    padding: 13px;
    background-color: $color;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover {
        background-color: $color-hover;
    }
}

td {
    padding: 8px;
}

tr:nth-child(odd){
    background-color: $color;
}

p#about {
    margin: 12px 0;
}